/* fonts */
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular");
  src: url("../fonts/Montserrat-Regular.woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium");
  src: url("../fonts/Montserrat-Medium.woff"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold");
  src: url("../fonts/Montserrat-Bold.woff"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* reset and setup */
html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

:root {
  --white-color: #ffffff;
  --black-color: #050c33;
  --grey-color: #8b8b8b;
  --red-color: red;
}

.list__reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn__reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section__title {
  margin: 0;
  font-family: Montserrat;
  font-weight: 700;
  color: var(--black-color);
}

.text {
  margin: 0;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black-color);
}

.container {
  margin: 0 auto;
  padding: 0 50px;
}

.container2 {
  margin: 0 auto;
  padding: 0 15px;
}

.video {
  position: absolute;
}

.back__img {
  position: relative;
}

/* tasks */
.tasks {
  padding-top: 30px;
  margin-bottom: 50px;
}

.tasks__title {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 28px;
  color: var(--black-color);
}

.tasks__list {
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.task__item {
  position: relative;
  max-width: 40%;
}

.task__bgimg {
  position: absolute;
  top: 15px;
}

.task__img {
  padding-left: 45px;
}

.task__title {
  margin-bottom: 5px;
  font-family: Montserrat;
  font-size: 38px;
  text-align: center;
  color: var(--black-color);
}

.task__text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-color);
}

/* team */
.team {
  margin-bottom: 100px;
}

.team__title {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 28px;
  text-align: center;
  color: var(--black-color);
}

.team__list {
  margin-bottom: 20px;
  gap: 15px;
  flex-wrap: wrap;
}

.team__item {
  width: calc((100% - 15px) / 2);
}

.img__member {
  margin-bottom: 10px;
  max-width: 150px;
}

.name__member {
  margin-bottom: 10px;
  max-width: 65%;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--black-color);
}

.post__member {
  font-family: Montserrat;
  font-size: 14px;
  color: var(--grey-color);
}

.btn {
  text-align: center;
}

.team__btn {
  padding: 10px 15px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 12px;
  border-radius: 5px;
  border: 1px solid var(--black-color);
}

/* cases */
.cases {
  margin-bottom: 30px;
}

.cases__title {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 28px;
  text-align: center;
  color: var(--black-color);
}

.cases__list {
  flex-direction: column;
  gap: 20px;
}

.case__item {
  position: relative;
  min-height: 250px;
}

.case__img {
  width: 100%;
  border-radius: 5px;
}

.case__bgimg1 {
  background: url("../img/image\ 11.1.png") no-repeat center;
  border-radius: 5px;
}

.case__bgimg1 .case__title {
  margin-bottom: 0;
  position: absolute;
  bottom: 30px;
  padding-left: 10px;
  color: var(--white-color);
}

.case__infbg {
  position: absolute;
  bottom: 10px;
}

.case__bgimg2 .case__title {
  padding-left: 10px;
  color: var(--white-color);
}

.case__bgimg2 .case__publ {
  padding-left: 10px;
}

.case__bgimg3 .case__title {
  padding-left: 10px;
  color: var(--white-color);
}

.case__bgimg3 .case__publ {
  padding-left: 10px;
}

.case__bgimg2 {
  background: url("../img/image\ 7.1.png") no-repeat center;
  border-radius: 5px;
}

.case__bgimg3 {
  background: url("../img/image\ 8.1.png") no-repeat center;
  border-radius: 5px;
}

.case__inf {
  padding: 25px 10px 10px 10px;
}

.case__title {
  margin-bottom: 5px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 21.94px;
  color: var(--black-color);
}

.case__publ {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 14.63px;
  color: var(--grey-color);
}

.case__text {
  padding-top: 15px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  color: var(--black-color);
}

.case__text a {
  color: rgb(41, 88, 219);
}

/* reviews */
.reviews {
  padding-top: 50px;
  margin-bottom: 150px;
  background: url("../img/right-quote-sign.png") no-repeat top left/29% 25%;
  background-position: top 10px left -5px;
}

.reviews__title {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 28px;
  text-align: center;
  color: var(--black-color);
}

.slider__img {
  margin-bottom: 30px;
}

.slider__text {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  color: var(--black-color);
}

.reviews__ps {
  margin-bottom: 10px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 15px;
  color: #b9b6b6;
}

.reviews__ps a {
  color: #060a25;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.specnum {
  color: var(--grey-color);
}

/* workWithUs */
.workWithUs {
  margin-bottom: 70px;
}

.inf__title {
  margin-bottom: 10px;
  font-size: 28px;
  text-align: center;
}

.inf__text {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 60%;
  color: var(--grey-color);
}

/* FAQ */
.FAQ {
  margin-bottom: 50px;
}

.faq__title {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}

.first__question {
  margin-bottom: 20px;
  outline: 3px solid var(--red-color);
  outline-offset: 15px;
}

.spectitle {
  color: #ff2600;
}

.question__title {
  position: relative;
  font-size: 18px;
  line-height: 21.94px;
}

.question__title:not(:first-child) {
  margin-bottom: 20px;
}

.question__text {
  color: var(--grey-color);
}

.num {
  position: absolute;
  top: 4px;
  left: -12px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 14.63px;
  color: var(--grey-color);
}

.fixnum {
  left: -17px;
}

/* footer */
.footer {
  position: relative;
  background: linear-gradient(
      254.72deg,
      rgba(255, 255, 255, 0.276) -114.85%,
      rgba(255, 255, 255, 0) 69.04%
    ),
    url("../img/D-flying.svg") no-repeat top center/100% 13%,
    url("../img/D.png") no-repeat bottom right/30% 5%, #040613;
}

.footer__top {
  padding-top: 30px;
  flex-direction: column;
}

.footer__title {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 70%;
  font-family: Montserrat;
  font-size: 28px;
  text-align: center;
  color: var(--white-color);
}

.footer__text {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 17px;
  line-height: 22px;
  color: var(--white-color);
}

.phone {
  margin-bottom: 10px;
  align-items: center;
}

.e-mail {
  margin-bottom: 20px;
  align-items: center;
}

.footer__svg {
  margin-right: 10px;
}

.tele {
  font-family: Montserrat;
  font-size: 32px;
  line-height: 48px;
  color: var(--white-color);
}

.mail {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 27px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: var(--white-color);
}

.footer__form {
  margin-bottom: 50px;
  flex-direction: column;
  width: 100%;
}

.input {
  margin-bottom: 5px;
  background: 0 0;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 1.2;
  color: var(--white-color);
  padding: 18px 26px;
  border: 2px solid rgba(256, 256, 256, 0.3);
  border-radius: 5px;
}

.form__textarea {
  margin-bottom: 10px;
  background: 0 0;
  font-size: 15px;
  min-height: 150px;
  color: var(--white-color);
  padding: 26px 24px;
  border: 1px solid rgba(256, 256, 256, 0.3);
  border-radius: 5px;
}

.form__check {
  position: relative;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 17px;
  color: var(--white-color);
}

.label__input {
  appearance: none;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border: 2px solid rgba(256, 256, 256, 0.5);
  border-radius: 5px;
  float: left;
  cursor: pointer;
}

.label__input:focus {
  background-image: url('../img/Group\ 2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.label__input:checked:focus {
  background-image: url('../img/unfocused.png');
  background-repeat: no-repeat;
  background-position: center;
}

.form__check a {
  color: #dd3e0e;
}

.g-recaptcha {
  margin-bottom: 10px;
}

.footer__btn {
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0.06em;
  font-weight: 500;
  border-radius: 5px;
  padding: 20px 14px;
  text-align: center;
  color: var(--white-color);
  background-color: #f14d34;
}

.line {
  position: absolute;
  bottom: 200px;
  width: 100%;
}

.footer__bottom {
  padding-top: 50px;
  padding-bottom: 30px;
}

.socials {
  margin-bottom: 20px;
}

.link {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f14d34;
  border-radius: 10px;
}

.link:not(:last-child) {
  margin-right: 10px;
}

.footer__ps {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 20px;
  color: var(--white-color);
}

/* Слайдер со стрелками */
.border__back {
  background: url("../img/Rectangle\ 3.1.png") no-repeat;
  background-size: 60%;
  background-position: top 30px center;
  border-radius: 5px;
}

.border__backback {
  background: url("../img/Rectangle\ 3.2.png") no-repeat;
  background-size: 50%;
  background-position: top 20px center;
  border-radius: 5px;
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 30px 50px;
  background-color: var(--white-color);
}
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.button_slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-main {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;

  transition: transform 0.5s ease;
}

.slide {
  display: none;
  text-align: center;

  transition: opacity 0.3s ease;
}
.slider__img-wrapper {
  padding-left: 15px;
  display: flex;
}
.slider__img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}
.horizontal-line {
  width: 100%;
  height: 1px; /* Толщина линии */
  background-color: var(--grey-color); /* Цвет линии */
  margin-bottom: 20px; /* Отступ от линии до кнопок */
}
.slider__text {
  padding: 30px 15px;
  font-size: 15px;
  line-height: 17px;
  text-align: left;
}
.slider__text-link {
  color: var(--black-color);
  margin: 0;
}
.slider-navigation {
  position: relative;
}
.slider-navigation::before {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  width: 100%;
  height: 1px;
  background-color: #8b8b8b;
}
.slider__prev,
.slider__next {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.slider__prev {
  margin-right: 20px;
}
.slider__next {
  margin-left: 20px;
}
.slider__text-gray {
  color: lightgray;
}
.slider__prev {
  left: 10px;
}

.slider__next {
  right: 10px;
}
.ednum,
.specnum,
.totalnum {
  font-size: 2em;
  font-family: Montserrat, sans-serif;
}
