.logo-slider {
  margin: 0 -20px;
  padding: 0 20px;
}

.logo-slider .swiper-slide {
  transition: transform 0.3s ease;
  width: calc(100% / 4) !important; /* Для мобильных экранов */
}

@media (min-width: 1024px) {
  .logo-slider .swiper-slide {
    width: calc(100% / 5) !important; /* Для десктопа */
  }
}

.logo-slider .swiper-slide:hover {
  transform: translateY(-5px);
}

.logo-slider img {
  filter: grayscale(100%);
  opacity: 0.7;
  transition: all 0.3s ease;
}

.logo-slider img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.logo-slider .swiper-wrapper {
  transition-timing-function: linear !important;
}
.workWithUs {
  margin-bottom: 70px;
}

.inf__title {
  margin-bottom: 10px;
  font-size: 28px;
  text-align: center;
}
.inf {
  margin-bottom: 20px;
}
.inf__text {
  margin-bottom: 20px;
  color: var(--grey-color);
}

.sliders-container {
  width: 100%;
  overflow: hidden;
}

.image-slider {
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
}

.image-slider__wrapper {
  display: flex;
  will-change: transform;
  transition: transform 0.3s ease;
}

.image-slider__slide {
  flex: 0 0 auto;
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
}

.image-slider__image {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.image-slider__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
